.for-single-spa-env {
    margin:          20px;
    border:          1px solid grey;
    padding:         20px;
    flex-direction:  column;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.center-wrap {
    flex-direction:  column;
    display:         flex;
    align-items:     center;
    justify-content: center;
}